body {
    background-color:#E11364 ;
}
h1 {
    background:#BC105C ;
    color: white;
    text-align: center;
    border-right-color: white;
    border-left-color: white;

}
main {
    background: #BC105C ;
}
h2 {
    color: white;
}
article {
    background-color: white;
}
h3 {
    color: #BC105C;
    text-align: right;
    border-bottom-style: dashed;
}

footer {
    background-color: #E96093;
    color: white;
    font-size: 8px;
    text-align: center;
    padding: 3px 10px;

}